@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?94xf2a");
  src: url("../fonts/icons.eot?94xf2a#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?94xf2a") format("truetype"), url("../fonts/icons.woff?94xf2a") format("woff"), url("../fonts/icons.svg?94xf2a#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_rs-icon-]::before,
[class*=_rs-icon-]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Rosatom";
  src: url("../fonts/Rosatom-Bold.eot");
  src: url("../fonts/Rosatom-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rosatom-Bold.woff2") format("woff2"), url("../fonts/Rosatom-Bold.woff") format("woff"), url("../fonts/Rosatom-Bold.ttf") format("truetype"), url("../fonts/Rosatom-Bold.svg#Rosatom-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosatom";
  src: url("../fonts/Rosatom-Regular.eot");
  src: url("../fonts/Rosatom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rosatom-Regular.woff2") format("woff2"), url("../fonts/Rosatom-Regular.woff") format("woff"), url("../fonts/Rosatom-Regular.ttf") format("truetype"), url("../fonts/Rosatom-Regular.svg#Rosatom-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rosatom";
  src: url("../fonts/Rosatom-Light.eot");
  src: url("../fonts/Rosatom-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rosatom-Light.woff2") format("woff2"), url("../fonts/Rosatom-Light.woff") format("woff"), url("../fonts/Rosatom-Light.ttf") format("truetype"), url("../fonts/Rosatom-Light.svg#Rosatom-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
._rs-icon-filter:before {
  content: "\e90c";
  color: #8d8d8d;
}

._rs-icon-globe:before {
  content: "\e90e";
  color: #025ea1;
}

._rs-icon-chevron-bottom:before {
  content: "\e900";
  color: #025ea1;
}

._rs-icon-chevron-left:before {
  content: "\e901";
  color: #025ea1;
}

._rs-icon-chevron-right:before {
  content: "\e902";
  color: #025ea1;
}

._rs-icon-chevron-top:before {
  content: "\e903";
  color: #025ea1;
}

._rs-icon-clipboard-text:before {
  content: "\e904";
  color: #025ea1;
}

._rs-icon-pagination-bottom:before {
  content: "\e905";
  color: #025ea1;
}

._rs-icon-pagination-left:before {
  content: "\e906";
  color: #025ea1;
}

._rs-icon-pagination-right:before {
  content: "\e907";
  color: #025ea1;
}

._rs-icon-pagination-top:before {
  content: "\e908";
  color: #025ea1;
}

._rs-icon-play-video .path1:before {
  content: "\e90a";
  color: rgb(108, 172, 228);
}

._rs-icon-play-video .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

._rs-icon-user:before {
  content: "\e90d";
  color: #fff;
}

._rs-icon-close:before {
  content: "\e909";
}

:root {
  --bg-color: #fff;
  --font-color: #333;
  --border-color: #d3d3d3;
  --primary-color: #025ea1;
  --second-color: #eff8ff;
  --tertiary-color: #6cace4;
  --dark-blue: #003274;
  --primary-gradient: linear-gradient(106deg, #025ea1 1.4%, #1773b6 100%);
  --second-gradient: linear-gradient(286deg, rgba(239, 248, 255, 0.29) 0%, #eff8ff 100%);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-color: var(--primary-color) var(--bg-color);
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: transparent;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--primary-color);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 3px;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--primary-color) var(--primary-color);
  scrollbar-width: thin;
}
*::before::-webkit-scrollbar, *::after::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  background: var(--bg-color);
  border-radius: 3px;
}
*::before::-webkit-scrollbar-thumb, *::after::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: transparent;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-radius: 0px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

html,
body {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

body {
  color: var(--font-color);
  line-height: 1;
  font-family: "Rosatom", sans-serif;
  font-size: 14px;
  background: var(--bg-color);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  outline: none;
  font-family: "Rosatom", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background: transparent;
}

button:active,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

a {
  cursor: pointer;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  margin: 0 auto;
  width: 100%;
  max-width: 1610px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 768px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 100%;
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

section {
  position: relative;
  margin: 110px 0px;
}
@media (max-width: 1439.98px) {
  section {
    margin: 90px 0px;
  }
}
@media (max-width: 1169.98px) {
  section {
    margin: 70px 0px;
  }
}
@media (max-width: 991.98px) {
  section {
    margin: 50px 0px;
  }
}
@media (max-width: 767.98px) {
  section {
    margin: 30px 0px;
  }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), -webkit-transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
body.aos-animate::after {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (any-hover: hover) {
  .menu__list li:hover a > div > div > span:nth-child(1) {
    -webkit-transform: translate(0%, -100%);
        -ms-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
    opacity: 0;
  }
  .menu__list li:hover a > div > div > span:nth-child(2) {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    opacity: 1;
  }
}
.menu__list li a > div > div > span {
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  display: block;
}
.menu__list li a > div > div > span:nth-child(1) {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}
.menu__list li a > div > div > span:nth-child(2) {
  -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.section-header {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 1439.98px) {
  .section-header {
    margin-bottom: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1169.98px) {
  .section-header {
    margin-bottom: 30px;
  }
}
@media (max-width: 991.98px) {
  .section-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767.98px) {
  .section-header {
    margin-bottom: 10px;
  }
}

.rst-b-60 {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.8px;
}
@media (max-width: 1439.98px) {
  .rst-b-60 {
    font-size: 50px;
  }
}
@media (max-width: 1169.98px) {
  .rst-b-60 {
    font-size: 40px;
    letter-spacing: 1.2px;
  }
}
@media (max-width: 991.98px) {
  .rst-b-60 {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .rst-b-60 {
    font-size: 20px;
    letter-spacing: 0.6px;
  }
}

.rst-r-32 {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1439.98px) {
  .rst-r-32 {
    font-size: 28px;
  }
}
@media (max-width: 1169.98px) {
  .rst-r-32 {
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rst-r-32 {
    font-size: 20px;
  }
}
@media (max-width: 767.98px) {
  .rst-r-32 {
    font-size: 16px;
  }
}

.rst-r-30 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 36px */
}

.rst-r-25 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.75px;
}
@media (max-width: 1439.98px) {
  .rst-r-25 {
    font-size: 22px;
  }
}
@media (max-width: 1169.98px) {
  .rst-r-25 {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .rst-r-25 {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .rst-r-25 {
    font-size: 16px;
  }
}

.rst-r-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}
@media (max-width: 1439.98px) {
  .rst-r-20 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rst-r-20 {
    font-size: 13px;
  }
}

.rst-l-20 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media (max-width: 1439.98px) {
  .rst-l-20 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rst-l-20 {
    font-size: 13px;
  }
}

.rst-l-18 {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.54px;
}
@media (max-width: 1439.98px) {
  .rst-l-18 {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rst-l-18 {
    font-size: 13px;
  }
}

.rs-btn {
  position: relative;
  overflow: hidden;
  -webkit-appearance: button;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding: 15px 40px;
}
@media (max-width: 991.98px) {
  .rs-btn {
    font-size: 13px;
    padding: 12px 20px;
  }
}
.rs-btn._btn-white {
  color: var(--font-color);
  background-color: #fff;
}
@media (any-hover: hover) {
  .rs-btn._btn-white:hover {
    background-color: var(--primary-color);
    color: #fff;
  }
}

.rs-link {
  position: relative;
  overflow: hidden;
  -webkit-appearance: button;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media (max-width: 1439.98px) {
  .rs-link {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-link {
    font-size: 13px;
  }
}
.rs-link::before {
  font-size: 24px;
  color: inherit;
  margin-left: 10px;
}
@media (max-width: 1439.98px) {
  .rs-link::before {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .rs-link::before {
    margin-left: 5px;
    font-size: 17px;
  }
}

@media (min-width: 991.98px) {
  .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px -7.5px;
  }
  .form__row .form__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.3333%;
            flex: 1 1 33.3333%;
    padding: 0px 7.5px;
  }
}
.form__line {
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}
.form__error {
  margin-top: 5px;
  margin-left: 15px;
  color: #ff0000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.form__agreement {
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 130%; /* 18.2px */
  margin-right: 31px;
  max-width: 420px;
}
@media (max-width: 1439.98px) {
  .form__agreement {
    margin-right: 16px;
  }
}
@media (max-width: 767.98px) {
  .form__agreement {
    margin-right: 0px;
    max-width: 100%;
    margin-bottom: 24px;
  }
}
.form__agreement a {
  text-decoration: underline;
  text-underline-offset: 2px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
@media (any-hover: hover) {
  .form__agreement a:hover {
    text-decoration: none;
  }
}
.form__button {
  min-width: 173px;
  max-width: 173px;
}
@media (max-width: 767.98px) {
  .form__button {
    min-width: 100%;
    max-width: 100%;
  }
}
.form__button .rs-btn {
  width: 100%;
}

.rs-input {
  outline: none;
  width: 100%;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  border-radius: 50px;
  border: 1px solid #ddd;
  padding: 16px 24px;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 250;
  line-height: 18px; /* 128.571% */
}
.rs-input::-webkit-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-moz-placeholder {
  color: #7a7a7a;
}
.rs-input:-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::-ms-input-placeholder {
  color: #7a7a7a;
}
.rs-input::placeholder {
  color: #7a7a7a;
}
textarea.rs-input {
  resize: vertical;
  min-height: 110px;
  border-radius: 20px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-prev:active, .swiper-button-prev:focus,
.swiper-button-next:active,
.swiper-button-next:focus {
  outline: none !important;
}
.swiper-button-prev::-moz-focus-inner,
.swiper-button-next::-moz-focus-inner {
  border: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0px;
}

.swiper-pagination-bullet:active, .swiper-pagination-bullet:focus {
  outline: none !important;
}
.swiper-pagination-bullet::-moz-focus-inner {
  border: 0 !important;
}

.swiper-button-lock {
  display: none !important;
}

.swiper-pagination-lock {
  display: none !important;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
  width: 100%;
}

.swiper-pagination {
  position: relative;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}
@media (min-width: 991.98px) {
  .swiper-pagination {
    text-align: left;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px;
}

.swiper-pagination-bullet {
  width: 9.5px;
  height: 4px;
  background: #fff;
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  position: relative;
  overflow: hidden;
}
@media (max-width: 991.98px) {
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 116px;
  z-index: 10;
  background-color: var(--tertiary-color);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
@-webkit-keyframes fillPagination {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes fillPagination {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  width: 209px;
}
.swiper-pagination-bullet-active::after {
  -webkit-animation: fillPagination 10s ease-in-out both;
          animation: fillPagination 10s ease-in-out both;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.rs-breadcrumbs {
  position: relative;
}
.rs-breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rs-breadcrumbs__item {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media (max-width: 1439.98px) {
  .rs-breadcrumbs__item {
    font-size: 16px;
  }
}
@media (max-width: 991.98px) {
  .rs-breadcrumbs__item {
    font-size: 13px;
  }
}
.rs-breadcrumbs__link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: #fff;
}
.rs-breadcrumbs__link::after {
  display: inline-block;
  content: "—";
  color: #fff;
  margin: 0 2px;
}
@media (any-hover: hover) {
  .rs-breadcrumbs__link:hover {
    color: var(--tertiary-color);
  }
}
.rs-breadcrumbs__current {
  color: #fff;
}

.pagging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0px;
}
@media (max-width: 991.98px) {
  .pagging {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
}
.pagging__arrow {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 39px;
  min-height: 39px;
  max-width: 39px;
  max-height: 39px;
  border-radius: 5px;
  border: 1.191px solid #f2f2f2;
  background-color: #fff;
  color: var(--primary-color);
}
@media (max-width: 439.98px) {
  .pagging__arrow {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
  }
}
.pagging__arrow::before {
  color: inherit;
  font-size: 19px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 374.98px) {
  .pagging__arrow.pagging__arrow_start, .pagging__arrow.pagging__arrow_end {
    display: none;
  }
}
.pagging__arrow.pagging__arrow_left, .pagging__arrow.pagging__arrow_start {
  margin-right: 6px;
}
.pagging__arrow.pagging__arrow_right, .pagging__arrow.pagging__arrow_end {
  margin-left: 6px;
}
@media (any-hover: hover) {
  .pagging__arrow:hover {
    color: #fff;
    background-color: var(--primary-color);
  }
}
.pagging__arrow:disabled {
  display: none;
}
.pagging__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagging__item:not(:last-child) {
  margin-right: 6px;
}
.pagging__link, .pagging__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  min-width: 39px;
  min-height: 39px;
  max-width: 39px;
  max-height: 39px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1.191px solid #f2f2f2;
  background-color: #fff;
}
@media (max-width: 439.98px) {
  .pagging__link, .pagging__more {
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
  }
}
.pagging__link._active {
  color: #fff;
  background-color: var(--primary-color);
}
@media (any-hover: hover) {
  .pagging__link:hover {
    color: #fff;
    background-color: var(--primary-color);
  }
}
.pagging__more {
  border: none;
}

.select {
  position: relative;
  width: 100%;
}
.select._select-error .select__title {
  border-color: var(--primary-color);
}
.select._select-error .select__value {
  color: var(--primary-color);
}
.select._select-error .select__value::before {
  display: block;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  background: #f5f5f5;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
}
.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  color: var(--primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1169.98px) {
  .select__value {
    font-size: 13px;
  }
}
.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.select__value:after {
  content: "\e900";
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15px;
          flex: 0 0 15px;
  margin: 0px 0px 0px auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  font-size: 15px;
}
._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.select__options {
  position: absolute;
  top: 100%;
  min-width: 100%;
  left: 0;
  border-radius: 0px 0px 5px 5px;
  background: #fff;
  -webkit-box-shadow: 0px 50px 77px 0px rgba(47, 83, 117, 0.1);
          box-shadow: 0px 50px 77px 0px rgba(47, 83, 117, 0.1);
  padding: 20px;
  z-index: 10;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .select__option {
    font-size: 13px;
  }
}
.select__option:first-child {
  display: none;
}
.select__option:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1439.98px) {
  .select__option:not(:last-child) {
    margin-bottom: 10px;
  }
}
.select__option._select-selected {
  color: var(--primary-color);
}
@media (any-hover: hover) {
  .select__option:hover {
    color: var(--primary-color);
  }
}
.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}