.rs-accordion-block {
	// .rs-accordion-block__container
	&__container {
	}

	// .rs-accordion-block__spollers
	&__spollers {
		// .rs-accordion-block__spollers_item
		&_item {
			&:not(:last-child) {
				margin-bottom: 30px;

				@media (max-width: 1169.98px) {
					margin-bottom: 15px;
				}
			}
		}

		// .rs-accordion-block__spollers_title
		&_title {
			width: 100%;
			text-align: left;
			cursor: pointer;
			padding: 30px;
			background-color: var(--second-color);
			font-size: 20px;
			font-style: normal;
			font-weight: 350;
			line-height: normal;
			letter-spacing: 0.6px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 1439.98px) {
				font-size: 16px;
				padding: 20px;
			}

			@media (max-width: 1169.98px) {
				padding: 15px;
			}

			&::after {
				font-size: 31px;
				content: "\e900";
				/* use !important to prevent issues with browser extensions that change fonts */
				font-family: "icons" !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				color: var(--primary-color);
				padding: 7px;
				border-radius: 10px;
				border: 1px solid var(--primary-color);
				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				transition: transform 0.3s ease 0s;
				margin-left: 10px;

				@media (max-width: 1169.98px) {
					font-size: 24px;
				}

				@media (max-width: 991.98px) {
					font-size: 20px;
				}
			}

			&._spoller-active {
				&::after {
					transform: rotate(180deg);
				}
			}
		}

		// .rs-accordion-block__spollers_body
		&_body {
			padding: 30px 48px 0px;

			@media (max-width: 1439.98px) {
				padding: 15px 24px 0px;
			}

			@media (max-width: 991.98px) {
				padding: 10px 0px 0px;
			}

			& > ul {
				li {
					&:not(:last-child) {
						margin-bottom: 20px;
					}

					a {
						color: var(--primary-color);
						font-size: 20px;
						font-style: normal;
						font-weight: 350;
						line-height: normal;
						letter-spacing: 0.6px;

						@media (max-width: 1439.98px) {
							font-size: 16px;
						}

						@media (max-width: 991.98px) {
							font-size: 13px;
						}

						&::before {
							margin-right: 5px;
							font-size: 24px;
							color: inherit;
						}
					}
				}
			}
		}
	}

	// .rs-accordion-block__wrapper
	&__wrapper {
		display: flex;

		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	// .rs-accordion-block__desc
	&__desc {
		flex-grow: 1;
		flex: 1 1 50%;

		h4 {
			font-size: 25px;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 35px */
			letter-spacing: 0.75px;
			margin: 20px 0px;

			@media (max-width: 1439.98px) {
				font-size: 22px;
			}
			@media (max-width: 1169.98px) {
				font-size: 20px;
			}
			@media (max-width: 991.98px) {
				font-size: 18px;
			}
			@media (max-width: 767.98px) {
				font-size: 16px;
			}
		}

		a {
			color: var(--primary-color);
		}

		ul {
			margin: -20px 0px 20px;

			@media (max-width: 1439.98px) {
				margin: -10px 0px 10px;
			}

			li {
				font-size: 20px;
				font-style: normal;
				font-weight: 300;
				line-height: 160%; /* 32px */
				letter-spacing: 0.6px;
				position: relative;
				padding-left: 20px;

				&::before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 13px;
					min-width: 8px;
					max-width: 8px;
					min-height: 8px;
					max-height: 8px;
					border-radius: 50%;
					background: linear-gradient(100deg, #15256d 5.78%, #4495d1 96.72%);
				}

				@media (max-width: 1439.98px) {
					font-size: 16px;

					&::before {
						top: 9px;
					}
				}

				@media (max-width: 991.98px) {
					font-size: 13px;

					&::before {
						top: 7px;
					}
				}
			}
		}

		blockquote {
			background-color: var(--second-color);
			padding: 30px 40px 30px 40px;
			border-radius: 10px;
			display: flex;
			align-items: flex-end;
			margin: 20px 0px;

			@media (max-width: 1439.98px) {
				padding: 20px;
			}

			p {
				margin: 0;
				max-width: 539px;
			}
		}

		p {
			font-size: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: 160%; /* 32px */
			letter-spacing: 0.6px;
			margin: 20px 0px;

			@media (max-width: 1439.98px) {
				font-size: 16px;
				margin: 10px 0px;
			}

			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}
	}

	// .rs-accordion-block__img
	&__img {
		width: 100%;
		max-width: 599px;
		margin-left: 150px;

		@media (max-width: 1439.98px) {
			margin-left: 30px;
			max-width: 450px;
		}

		@media (max-width: 991.98px) {
			margin-left: 15px;
			max-width: 350px;
		}

		@media (max-width: 767.98px) {
			margin-left: 0px;
			margin-top: 30px;
			max-width: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
