.rs-news-acticle {
	// .rs-news-acticle__container
	&__container {
	}

	// .rs-news-acticle__head
	&__head {
		padding-bottom: 24px;
		border-bottom: 1px solid var(--border-color);

		@media (max-width: 1439.98px) {
			padding-bottom: 15px;
		}

		h4 {
			line-height: 140%; /* 35px */
			letter-spacing: 0.75px;
			max-width: 1251px;
		}

		ul {
			margin-top: 65px;
			justify-content: flex-end;

			@media (max-width: 1439.98px) {
				margin-top: 40px;
			}

			@media (max-width: 991.98px) {
				margin-top: 20px;
			}
		}
	}

	// .rs-news-acticle__body
	&__body {
		padding: 50px 0px 30px;

		@media (max-width: 1439.98px) {
			padding: 30px 0px 30px;
		}

		@media (max-width: 991.98px) {
			padding: 15px 0px 15px;
		}

		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			gap: 30px;

			@media (max-width: 1439.98px) {
				gap: 20px;
			}
		}
	}

	// .rs-news-acticle__content
	&__content {
		@media (min-width: 991.98px) {
			grid-column: 1/7;
		}

		@media (max-width: 991.98px){
			  margin-bottom: 20px;
		}
		
		img {
			width: 100%;
			object-fit: cover;
			border-radius: 10px;
			margin-bottom: 50px;

			@media (max-width: 1439.98px) {
				margin-bottom: 30px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 15px;
			}
		}

		p {
			font-size: 20px;
			font-style: normal;
			font-weight: 300;
			line-height: 160%; /* 32px */
			letter-spacing: 0.6px;

			@media (max-width: 1439.98px) {
				font-size: 16px;
			}
			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}
	}

	// .rs-news-acticle__sidebar
	&__sidebar {
		@media (min-width: 991.98px) {
			grid-column: 7/11;
			padding-left: 65px;

			@media (max-width: 1439.98px) {
				padding-left: 0px;
			}
		}
	}

	// .rs-news-acticle__list
	&__list {
	}

	// .rs-news-acticle__item
	&__item {
		padding: 30px 0px;

		@media (max-width: 1439.98px) {
			padding: 15px 0px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--border-color);
		}

		h5 {
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 24px */

			@media (max-width: 1439.98px) {
				font-size: 16px;
			}
			@media (max-width: 991.98px) {
				font-size: 13px;
			}
		}

		ul {
			margin-top: 25px;

			@media (max-width: 1439.98px) {
				margin-top: 15px;
			}
		}
	}

	// .rs-news-acticle__date
	&__date {
		color: var(--primary-color);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 19.2px */
		margin-bottom: 10px;

		@media (max-width: 991.98px) {
			font-size: 13px;
		}
	}

	// .rs-news-acticle__footer
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			.rs-btn {
				margin-bottom: 10px;
				width: 100%;
			}
		}
	}
}
